* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: #7c7c7c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 20%;
  height: 25%;
  background-color: blueviolet;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #f00808;
  margin-left: -10px;
  transition: all 0.5s;
}
.triangle:hover {
  cursor: pointer;
  transform: translate(0px, 80px) rotate(180deg);
}
